/* The Modal (background) */
.modal {
	position: fixed; /* Stay in place */
	z-index: 2; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100vh; /* Full height */
}

/* Modal Content/Box */
.modal-content {
	background-color: var(--light);
	margin: auto;
	padding: 20px;
	width: 60vw;
}

.modal-content > h1 {
	padding-top: 0;
	margin-top: 0;
}

.close:hover,
.close:focus {
	text-decoration: none;
	cursor: pointer;
}

.submit:hover, .submit:focus {
	cursor: pointer;
}


td {
	text-align: right;
}

label {
	font-size: 1.5em;
	text-align: right;
	padding-right: 1em;
}

input {
	font-size: 1.5em;
	color: var(--mid);
	background: var(--light-colour);
	width: 30vw;
}

.buffer{
	height: 2em !important;
}