/* The Modal (background) */
.modal {
	position: fixed; /* Stay in place */
	z-index: 2; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	/*position: fixed;*/
	/*top: 10%;*/
	background-color: #2D79A8;
	margin: 5% auto; /* 15% from the top and centered */
	padding: 20px;
	width: 60vw;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.submit:hover, .submit:focus {
	cursor: pointer;
}


td {
	text-align: right;
}

label {
	color: white;
	font-size: 1.5em;
	text-align: right;
	padding-right: 1em;
}

input {
	background: #2D2D32;
	font-size: 1.5em;
	color: white;
	width: 30vw;
}

input[type="button"] {
	width: 100%;
}